<div id="<%= dom_id sale_product_increaser %>">
  <p>
    <strong>Product:</strong>
    <%= sale_product_increaser.product_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sale_product_increaser.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale_product_increaser.user_id %>
  </p>

</div>
