<h1>Editing sale product increaser</h1>

<%= render "form", sale_product_increaser: @sale_product_increaser %>

<br>

<div>
  <%= link_to "Show this sale product increaser", @sale_product_increaser %> |
  <%= link_to "Back to sale product increasers", sale_product_increasers_path %>
</div>
