<div style='background-color: #80d3ff87;' class="container shadow-lg">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Добавить новый</h1>
      <%= render 'form', sale_product_increaser: @sale_product_increaser %>
    </div>
  </div>
</div>
