<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Цена прихода</th>
      <th>Товар</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= product_entry.id %></td>
      <td><%= product_entry.buy_price %></td>
      <td><%= product_entry.product.name %></td>
      <td><%= product_entry.amount %></td>
    </tr>
  </tbody>
</table>

