<div class="container my-5">
  <%= render 'filter_form', q: @q, url: request.path %>
  <div class="card shadow-lg">
    <%= render 'expenditures', expenditures: @expenditures, expenditures_data: @expenditures_data %>
    <%= paginate @expenditures %>
    <table class='table-bordered'>
        <thead>
          <tr>
            <th>Итого цена</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= num_to_usd(@expenditures_data.price_in_uzs.sum(:price)) %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
